@font-face {
    font-family: "somic_m";
    src: url("../fonts/NTSomic-Medium.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "somic_sb";
    src: url("../fonts/NTSomic-Semibold.ttf") format(truetype);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: "somic_r";
    src: url("../fonts/NTSomic-Regular.ttf") format(truetype);
    font-weight: bold;
    font-style: bold;
}